body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
}
 
.massage {
    color: #60BADF;
   
    height: 25px;
    width: 300px;
    font-size: 18px;
    
}

.inputColor {
    width: 300px;
    height: 25px;

}

.root-element {
   display: flex;
   justify-content: center;
   align-items: center;
}


.wrapper { 
    display: grid;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
   
    padding-top: 30px;
    width: 500px;
    height: 300px;
}

.enter {
    margin-left: -10px;
    height: 70px;
    width: 330px;
}

/* .pic {
    float: left;
    height: 65px;
    width: 65px;
} */
 
.h1 {
    float: right;
    width: 220px;
    color: #60BADF;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0px;
 }

.input{
   
    background: whitesmoke;
    width: 300px;
    height: 25px;

} 

.button-wrapper {
    width : 300px;
    display: flex;
    justify-content: center;
}

.btn-save {
    height: 20px;
    width: 100px;

}

.btn-cancel {
    margin-left: 33px;
    height: 20px;
    width: 100px;
}